//Variaveis
//cores background
$background-primaria: #28293E;
$background-secundaria: #FDF0E9;
$background-terciaria: #FFFFFF;
$background-quaternaria: #EF6D58;

//cores fonte
$font-color-primaria: #391400;
$font-color-secundaria: #FFFFFF;
$font-color-terciaria: #391400A3;
$font-color-quaternaria: #FFFFFFA3;
$font-color-subtitulo: #EF6D58;

//fonte
$fonte: "Epilogue", sans-serif;

//cores bordas e hr
$color-border-primaria: #F3D1BF;
$color-border-secundaria: #3A3C56;

//tamanho fontes
$font-size-xs: 16px;
$font-size-s: 20px;
$font-size-m: 24px;
$font-size-l: 40px;
$font-size-xl: 56px;

//weight fontes
$regular-weight: 400;
$bold-weight: 700;
$extra-bold-weight: 800;
$button-bold-weight: 900;