//Variaveis
$color-primary: #28293E;
$color-secundary: #FDF0E9;
$color-light: #FFFFFF;
$color-light-accent: #EF6D58;
$color-dark: #391400;
$color-dark-gray: #391400A3;
$color-light-gray: #FFFFFFA3;

$fonte: "Epilogue", sans-serif;

$color-border-primaria: #F3D1BF;
$color-border-secundaria: #3A3C56;

$font-size-base: 16px;
$font-size-s: 20px;
$font-size-m: 24px;
$font-size-l: 40px;
$font-size-xl: 56px;

$regular-weight: 400;
$bold-weight: 700;
$extra-bold-weight: 800;
$button-bold-weight: 900;