@use '../abstract/variaveis';
@use './global';

main {
    .about {
        background-color: variaveis.$color-secundary;
        margin: 0;
        padding: 76px 23px;
        .about-text {
            .text-titulos {
                h5 {
                    @extend .title5;
                    margin: 0;
                }
                h3{
                    @extend .title3;
                    margin-top: 17px;
                    margin-bottom: 30px;
                }
            }
            p {
                @extend .text;
                margin: 0;
                color: variaveis.$color-dark-gray;
            }
        }
        .about-imagem {
            margin-top: 80px;
            display: grid;
            grid-template-columns: repeat(2, 1fr); 
            gap: 17px;
            align-items: center;
            img {
                border-radius: 6px;
                object-fit: cover;
                width: 100%;
                height: 100%;
                &:nth-child(1){
                    grid-column: span 2;
                }
                &:nth-child(2), &:nth-child(3), &:nth-child(4), &:nth-child(5) {
                    grid-column: span 1; 
                }
            }
        }
        @media screen and (min-width: 1024px){
            padding: 76px 135px 128px 135px;
            .about-text{
                display: flex;
                gap: 30px;
                .text-titulos {
                    flex: 1;
                    h3 {
                        max-width: 417px;
                    }
                }
                p {
                    flex: 1;
                }
            }
            .about-imagem {
                grid-template-columns: repeat(4, 1fr); 
                grid-template-rows: repeat(2, 250px);
                gap: 30px;
                img {
                     &:nth-child(1) {
                        grid-column: span 2;
                        grid-row: span 2;
                    }
                    &:nth-child(n+2) {
                        grid-column: span 1;
                        grid-row: span 1;
                    }
                }
            }
        }
    }
}