@use '../abstract/variaveis';
@use './global';

.empresas {
    background-color: variaveis.$background-primaria;
    padding: 118px 23px;
    display: flex;
    flex-wrap: wrap;  
    justify-content: center;
    gap: 30px;
    img {
        max-width: 150px;
        max-height: 46px;
        margin: auto;
    }
    @media screen and (min-width: 1024px){
        padding: 118px 105px;
    }
}