@use '../abstract/variaveis';
@use './global';

.our-team {
    background-color: variaveis.$background-primaria;
    margin: 0;
    position: relative;

    #p1:checked ~ .carrossel .carrossel-card { transform: translateX(0); }
    #p2:checked ~ .carrossel .carrossel-card { transform: translateX(calc(-50% - 120px)); }
    #p3:checked ~ .carrossel .carrossel-card { transform: translateX(calc(-100% - 240px)); }
    #p4:checked ~ .carrossel .carrossel-card { transform: translateX(calc(-150% - 360px)); }
    #p5:checked ~ .carrossel .carrossel-card { transform: translateX(calc(-200% - 480px)); }
    #p6:checked ~ .carrossel .carrossel-card { transform: translateX(0); }


    #p1:checked ~ .pins label[for="p1"],
    #p2:checked ~ .pins label[for="p2"],
    #p3:checked ~ .pins label[for="p3"],
    #p4:checked ~ .pins label[for="p4"],
    #p5:checked ~ .pins label[for="p5"],
    #p6:checked ~ .pins label[for="p6"] {
        background-color: variaveis.$font-color-subtitulo; 
    }
    .our-team-topo {
        .our-team-titulo {
            h5 {
                margin: 0;
                padding: 108px 0 17px 23px;
            }
            h3 {
                color: variaveis.$font-color-secundaria;
                margin: 0 23px 35px 23px;
            }
        }
        .our-team-setas {
            display: none;
        }
    }
    

    .carrossel {
        margin: 0 23px;
        display: flex;
        overflow: hidden;
        gap: 30px;

        .carrossel-card {
            flex: 0 0 calc(25% - 22.5px);
            transition: transform 0.7s cubic-bezier(0.4, 0, 0.2, 1);

            .carrossel-img {
                width: 270px;
                height: 272px;
                aspect-ratio: 1 / 1;
                border: 1px solid variaveis.$color-border-secundaria;
                border-radius: 6px;
                display: flex;
                justify-content: center;
                overflow: hidden;
                img {
                    max-width: 100%;
                    max-height: 100%;
                    height: auto;
                    object-fit: cover;
                }
            }
            h4 {
                color: variaveis.$font-color-secundaria;
                margin: 26px 0 3px 0;
            }
            p {
                color: variaveis.$font-color-quaternaria;
            }
        }
    }

    .pins {
        display: flex;
        justify-content: center;
        gap: 10px;
        margin-top: 40px;
        padding-bottom: 40px;
        margin-bottom: -1px;

        label {
            width: 10px;
            height: 10px;
            border-radius: 50%;
            border: 1px solid variaveis.$color-border-secundaria;
            cursor: pointer;
            transition: 0.3s;
        }
    }

    @media screen and (min-width: 1024px){
        padding: 92px 135px;
        .our-team-topo {
            display: flex;
            justify-content: space-between;
            align-items: center;
            .our-team-titulo {
                width: 60%;
                h5 {
                    padding-top: 0;
                }
            }
            .our-team-setas {
                display: flex;
                gap: 16px;
                .seta {
                    width: 48px;
                    height: 48px;
                    border: 1px solid variaveis.$color-border-secundaria;
                    border-radius: 50%;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    img {
                        height: 9px;
                        width: 14px;
                   }
                }
            }
        }
    }
}