.description {
    background-color: var(--background-header);
    display: flex; 
    flex-direction: column;
    align-items: center; 
    justify-content: center; 
    padding-bottom: 88px;
}

.description h2 {
    text-align: center;
    margin: 0;
    padding-top: 80px;
    font-weight: var(--extra-bold-weight);
    font-size: var(--font-size-xl);
    width: 222px ;
    color: var(--font-color-quinternary);
    line-height: 64px;
}

.description p {
    font-size: var(--font-size-xs);
    line-height: 32px;
    color: var(--font-color-tertiary);
    text-align: center;
    width: 330px;
    margin-top: 12px;
}

@media screen and (min-width: 1024px){
    .description {
        width: 50%;
        margin: auto;
    }

    .description h2, 
    .description p {
        width: 70%;
    }
}
